@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This application was edited by Lucas Cepiel for CS 341. Framework by Professor Hummel.</p>
