@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    925 S Carpenter<br />
    Chicago, IL 60607<br />
    <abbr title="Phone">P:</abbr>
    847.532.4606
</address>

<address>
    <strong>Support:</strong> <a href="mailto:lucas@cepiel.net">lucas@cepiel.net</a><br />
</address>
